/* .deleteIcon{
    width:500px;
    margin:500px;
} */

.containerDeleteIcon{
    /* background-color:Red; */
    margin-left:15px;
}

/* .containerDeleteAndUpdateIcon{
    background-color:green;
} */